<app-nav-bar></app-nav-bar>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt-10">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center">
                    <img src="../../../assets/logo.png" alt="">
                </div>
                <h1 class="text-center">SignUp Here!!</h1>
                <!-- {{user | json}} -->
                <form (ngSubmit)="formSubmit()">
                        <!--Username-->
                        <mat-form-field class="full-width" appearance="outline">
                          <mat-label>Username</mat-label>
                          <input 
                          required
                          [(ngModel)]="user.username"
                          name="username"
                          matInput placeholder="Enter Username">
                        </mat-form-field>
                        <!--Password-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input 
                            required
                            [(ngModel)]="user.password"
                            name="password"
                            type="password" matInput placeholder="Enter Password">
                        </mat-form-field>
                        <!--First Name-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input 
                            required
                            [(ngModel)]="user.firstname"
                            name="firstname"
                            matInput placeholder="Enter First Name">
                        </mat-form-field>
                        <!--Last Name-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input 
                            required
                            [(ngModel)]="user.lastname"
                            name="lastname"
                            matInput placeholder="Enter Last Name">
                        </mat-form-field>
                        <!--Email-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input 
                            required
                            [(ngModel)]="user.email"
                            name="email"
                            type="email" matInput placeholder="Enter Email">
                        </mat-form-field>
                        <!--Phone-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Phone No</mat-label>
                            <input 
                            required
                            [(ngModel)]="user.phone"
                            name="phone"
                            type="number" matInput placeholder="Enter Phone No">
                        </mat-form-field>
                        <!--Register button-->
                        <div class="container" class="text-center">
                            <button mat-raised-button color="primary">Register</button>
                            <button class="ml-10" mat-raised-button color="accent">Clear</button>
                        </div>
                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div>
