<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <h1 class="mt-20">Available Quizzes</h1>
        <div class="row" *ngIf="quizzes">            
            <div class="col-md-4" *ngFor="let q of quizzes">
               <mat-card class="mt-20">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{q.title}}</mat-card-title>
                        <mat-card-subtitle>{{q.category.title}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="truncate">{{q.description}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary">View</button>
                        <button class="ml-10" mat-raised-button color="accent" [routerLink]="'/user-dashboard/instructions/' + q.qid">Start</button>
                        <button mat-button color="primary">Questions : {{q.numberOfQuestions}}</button>
                        <button class="ml-10" mat-button color="primary">M.M : {{q.maxMarks}}</button>
                       </mat-card-actions>
               </mat-card>
               
            </div>
        </div>
        <div class="row" *ngIf="quizzes?.length == 0">
            <div class="col-md-12">
                <mat-card>
                    <mat-card-content>
                        No Quizzes to display in this category.
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>