<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/admin-dashboard"><mat-icon class="icon-display" mat-list-icon>home</mat-icon><span class="button-text">Home</span></button>
        <button mat-list-item routerLink="/admin-dashboard/profile"><mat-icon class="icon-display" mat-list-icon>account_circle</mat-icon><span class="button-text"></span>Profile</button>
        <button mat-list-item routerLink="/admin-dashboard/categories"><mat-icon class="icon-display" mat-list-icon>category</mat-icon><span class="button-text"></span>Categories</button>
        <button mat-list-item routerLink="/admin-dashboard/add-category"><mat-icon class="icon-display" mat-list-icon>add_circle</mat-icon><span class="button-text"></span>Add Category</button>
        <button mat-list-item routerLink="/admin-dashboard/view-quizzes"><mat-icon class="icon-display" mat-list-icon>quiz</mat-icon><span class="button-text"></span>Quizzes</button>
        <button mat-list-item routerLink="/admin-dashboard/add-quiz"><mat-icon class="icon-display" mat-list-icon>library_add</mat-icon><span class="button-text"></span>Add Quiz</button>
        <button mat-list-item routerLink="/admin-dashboard/profile"><mat-icon class="icon-display" mat-list-icon>logout</mat-icon><span class="button-text"></span>Logout</button>
    </mat-action-list>
</mat-card>